@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.background-p {
   background-color: #C4DECB;
   height: 600px;
}

.container-p{
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.text-p {
  margin: 200px 0;
  width: 450px;
  align-items: center;
  color: #4D4D4D;
}

.title-p {
  
  font-size: 45px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-bottom: 30px;
  text-align: initial;
  margin-top: -70px;
  padding: 20px 0px;
}

.img-d img {
  width: 510px;
  margin: 100px;
  margin-left: 100px;
  margin-top: 120px;
  
}
 .titulo-p h1 {
   font-size: 30px;
   padding: 20px;
 }

 .parag-p {
   font-size: 20px;
   width: 450px;
   font-weight: 400;
 }
