.flex-container{
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}

.align-itens{
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

h1{
  font-size: 45px;
  color: #4D4D4D;
}

p{
  font-size: 18px;
  color: #4D4D4D;
}


@media (max-width: 1000px){

  .flex-container{
    flex-direction: column-reverse;
    display: flex;
    width: auto;
    margin: 0px 200px;
    align-items: center;
  }

  .tamanho-img{
     max-width: 250px;
  }

} 